/* Variables */
$IndyWorkNavBar: #272741;
$IndyWorkPurpleNew: #6488DA;
$IndyWorkPurpleNew_50: #6488DA70;
$IndyWorkLightPurple: #B3B7EE;
$IndyWorkPurple_d: #393960;
$IndyWorkPurple_dd: #181a2a;
$IndyWorkGray_d: #828282;
$IndyWorkGray_d_50: #82828270;
$Error: #E76464;
$IndyWorkRed_l: #FF4541;
$IndyWorkRed_l_50: #FF454170;
$IndyWorkRed_ll: #B40400;
$IndyWorkGreen_ll: #1DCF32;
$IndyWorkGreen_ll_50: #1DCF3270;
$IndyWorkGreen_d: #81BF6C;
$IndyWorkBlue: #439ACE;
$ScrollBar: #1D1F32;