.slider-wrapper {
    background-color: black;
    border-radius: 0;
}

.thumbs-wrapper {
    margin: 0 !important;
    background-color: #181a2a;
    border-radius: 0;
}

.thumbs-wrapper .thumb {
    border: 3px solid transparent !important;
    margin: 0 !important;
}

.thumbs-wrapper .selected {
    border: 3px solid #6488DA !important;
}

.dot {
    background-color: transparent !important;
    border: 1px solid white;
    opacity: 1 !important;
}

.dot.selected {
    background-color: white !important;
} 